mixin videoBlock(video = {})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      .videoBlock__container
        video.videoBlock__thumbnail(src=video.videoFile, controls=false)
      h4.videoBlock__title=video.title
      span.videoBlock__creator=video.creator
      span •
      if video.views === 1
        span.videoBlock__views 1 view
      else
        span.videoBlock__views #{video.views} views